body{
	background: #000000; 
	overflow:hidden;
	/*
background: #000000; 
background: -moz-linear-gradient(left,  #000000 0%, #241d42 25%, #000000 50%, #2a2549 75%, #000000 100%); /
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#000000), color-stop(25%,#241d42), color-stop(50%,#000000), color-stop(75%,#2a2549), color-stop(100%,#000000));
background: -webkit-linear-gradient(left,  #000000 0%,#241d42 25%,#000000 50%,#2a2549 75%,#000000 100%); 
background: -o-linear-gradient(left,  #000000 0%,#241d42 25%,#000000 50%,#2a2549 75%,#000000 100%);
background: -ms-linear-gradient(left,  #000000 0%,#241d42 25%,#000000 50%,#2a2549 75%,#000000 100%); 
background: linear-gradient(to right,  #000000 0%,#241d42 25%,#000000 50%,#2a2549 75%,#000000 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 );
*/
}


.logo{
	text-align:center;
	margin-top:6%;
	
	
}
.logo,.logo img{
	height:90%;
}



.animate{
	-webkit-transform: translate3d(0,0,0);
}


@-webkit-keyframes "h_pulse" {
 0% {
   -webkit-transform: scale(1);
  
 }
 20% {
   -webkit-transform: scale(1.1);
   
 }
 90% {
   -webkit-transform: scale(1);
   
 }

}

@-webkit-keyframes h_blurPulse {
	0% {
		-webkit-filter:blur(0px);
	}
	20% {
		-webkit-filter: blur(6px);
	}
	90% {
		-webkit-filter:blur(0px);
	}
}

@-webkit-keyframes h_flipLeft {
	0% {
		/*-webkit-transform: rotateY(0);*/
	}
	50% {
		/*-webkit-transform: rotateY(180deg);*/
		 -webkit-transform:scale(1.5,1.5) rotateY(180deg);
	}
	100% {
		/*-webkit-transform: rotateY(360deg);*/
		 -webkit-transform:scale(1,1) rotateY(360deg);
	}
}
@-webkit-keyframes h_explode {
	0% {
		/*-webkit-transform: rotateY(0);*/
	}
	50% {
		/*-webkit-transform: rotateY(180deg);*/
		 -webkit-transform: scale(15) rotate(10deg);
		  opacity: 0;
	}
	70% {
		/*-webkit-transform: rotateY(180deg);*/
		 -webkit-transform: scale(15) rotate(10deg);
		  opacity: 0;
	}
	100% {
		/*-webkit-transform: rotateY(360deg);*/
	}
}
@-webkit-keyframes h_flipTop {
	0% {
		/*-webkit-transform: rotateY(0);*/
	}
	50% {
		/*-webkit-transform: rotateY(180deg);*/
		 -webkit-transform:scale(1.5,1.5) rotateX(180deg);
	}
	100% {
		/*-webkit-transform: rotateY(360deg);*/
		 -webkit-transform:scale(1,1) rotateX(360deg);
	}
}
@-webkit-keyframes h_flipBottom {
	0% {
		/*-webkit-transform: rotateY(0);*/
	}
	50% {
		/*-webkit-transform: rotateY(180deg);*/
		 -webkit-transform:scale(1.5,1.5) rotateZ(-180deg);
	}
	100% {
		/*-webkit-transform: rotateY(360deg);*/
		 -webkit-transform:scale(1,1) rotateZ(-360deg);
	}
}
@-webkit-keyframes h_saturate {
	0% {
		/*-webkit-transform: rotateY(0);*/
	}
	50% {
		/*-webkit-transform: rotateY(180deg);*/
		-webkit-filter:brightness(100) invert(1) blur(1px);
	}
	100% {
		/*-webkit-transform: rotateY(360deg);*/
		/* -webkit-transform:scale(1,1) rotateX(-360deg);*/
	}
}
